.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.k-dropdownlist {
  background-color: #fff !important;
}

.k-floating-label-container,
:not(.k-empty) > .k-label,
.k-floating-label-container,
.k-fill > .k-label,
.k-floating-label-container:focus-within > .k-label {
  background-color: white;
}

.k-combobox {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
}

.k-combobox,
.k-table-row {
  box-shadow: unset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.k-window-titlebar {
  padding: 0.5rem;
  color: white;
  background-color: #2c5098;

  .k-window-title {
    font-size: 14px;
    font-weight: 500;
  }
}
.k-input-md .k-input-button,
.k-input-md .k-spinner-increase,
.k-input-md .k-spinner-decrease,
.k-picker-md .k-input-button,
.k-picker-md .k-spinner-increase,
.k-picker-md .k-spinner-decrease {
  border-color: transparent;
  color: #424242;
  background-color: transparent;
}

.k-data-table {
  .k-table-header {
    display: none;
  }
  .k-table-body li {
    .k-table-td {
      border: none;
    }
  }
}

.k-combobox {
  .k-clear-value {
    display: none;
  }
}
.k-list-item:nth-child(even) {
  background-color: #f5f5f5;
}
.k-list-item {
  box-shadow: unset !important;
}
.k-list-item:hover {
  background-color: #ededed;
}

.k-list-item.k-selected,
.k-selected.k-list-optionlabel {
  color: inherit !important;
  background-color: rgba(44, 80, 152, 0.08) !important;
}

/* Customer Bill Component CSS */

.titleForAP {
  font-weight: 600;
}

.dropdown-ap {
  width: 125px;
  margin-left: 20px;
  font-weight: 500;
}

.container-custom {
  width: 97%;
  height: auto;
  padding: 12px 12px;
  border: 2px solid #6c8ebe;
  display: flex;
}
.vendor-container {
  padding: 6px;
  height: auto;
  width: 46%;
  display: inline-grid;
  row-gap: 6px;
}
.vendor-container div {
  width: 100%;
}

.vendor-dropdown {
  width: 300px;
  font-weight: 500;
  float: right;
}

.address-custom {
  height: 84px;
  font-size: 14px;
}

.address-custom span {
  margin-left: 36px;
  display: grid;
  font-weight: 500;
}

.memo {
  height: auto;
}

.memo input {
  width: 300px;
  float: right;
}

.bill-container {
  padding: 6px;
  height: auto;
  width: 22%;
  display: grid;
  row-gap: 12px;
}

.bill-container div {
  width: 100%;
  height: auto;
}

.bill-container div input {
  width: 150px;
}

.bill-container div span {
  width: 150px;
  font-weight: '500';
}

.date-container {
  padding: 6px;
  height: auto;
  width: 32%;
  display: table;
}

.date-container div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.date-container div span {
  width: 100%;
  display: grid;
  font-weight: 500;
}

.date-container div span:first-child {
  width: 100%;
  display: grid;
  margin-bottom: 8px;
  font-weight: 500;
}

.date-container div span label:last-child {
  color: rgb(132, 160, 239);
}

.tabel-grid {
  height: 216px;
  border: 2px solid rgb(240, 240, 240);
}
